/* width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}rgba

/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.trello-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#list-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#list-menu li {
}

#list-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#list-menu li {
    transition : all 0.2s ease;
    border-width: 1px;
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
    border-top-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    border-style: solid;
}

#list-menu li:hover {
    transition : all 0s ease;
    border-bottom-color: black;
    border-left-color: black;
}

.map-card{
    
}

.map-badges{
    display: flex;
    flex-wrap: wrap;
}

.map-badges > * {
    border-radius: 5px;
    color : white;
    padding: 0.5em;
    margin-left: 0 0.5em;
    font-weight: bold;
    width: fit-content;
}

