/* width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.trello-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#list-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
#list-menu li {
    transition : all 0.2s ease;
}
#list-menu li:hover {
    transition : all 0s ease;
    background-color: black;
    color:white
}

